.stock-container  {
  padding: 40px;
  border-radius: 12px;
  background-color: #2D2D2D;
  box-shadow: 0 0 8px gray;
}

.stock-name {
  font-size: 36px;  
}


.stock-price {
  font-size: 32px;
  font-weight: 800;
  color: #00EEAA;
  text-shadow: 0 2px 4px black;
}
