*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Segoe UI", "Arial", "Tahoma", sans-serif;
  background-color: #BBBBBB;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

.main-container {
  padding: 10px;
}

.main-title {
  font-size: 64px;
  padding: 10px;
}

.main-text {
  line-height: 1.5;
  font-size: 24px;
  padding-left: 12px;
}


.stocks {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
}


